<div class="loginImage" >
	<div class="row col-sm-6 col-sm-offset-3 bgclear">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					Login
				</h3>
			</div>

			<div class="panel-body">
				<form ng-submit="login.login()" name="loginForm" novalidate>
					<div class="form-group" ng-class="{'has-error':loginForm.email.$invalid && !loginForm.name.$pristine}">
						<label>Email</label>
						<input  type="email" name="email" class="form-control" ng-model="login.email" ng-required=true  />
						<p ng-show="loginForm.email.$invalid && !loginForm.name.$pristine" class="text-info">Enter Email</p>
					</div>

					<div class="form-group" ng-class="{'has-error':loginForm.email.$invalid && !loginForm.name.$pristine}">
						<label>Password</label>
						<input  type="password" name="password" class="form-control" ng-model="login.password" ng-required=true />
						<p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="text-info">Enter Password</p>
					</div>

					<div class="alert alert-danger" ng-if="login.error">
						{{ login.error }}
					</div>

					<button type="submit" class="btn btn-block btn-primary" ng-disabled="loginForm.$invalid">
						<span ng-if="!login.processing">Submit</span>
						<span ng-if="login.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
					</button>
				</form>

				<div class="top-margin"/>
			</div>

			<div class="row col-sm-6">
				<a ng-href="/createUser" class="btn btn-info">Create User</a>
			</div>
		</div>
	</div>

</div>
</div>