<div class="row">
	<p class="navbar-text"><a href="/mybooks" class="btn btn-primary">Back to MyBooks</a></p>
</div>
<br>
<div class="row col-sm-6 col-sm-offset-3">
	<div class="jumbotron">
		<h2 ng-if="book.operation=='create'">Add Book</h2>
		<h2 ng-if="book.operation=='edit'">Edit Book</h2>
	</div>
</div>

<br>
<div class="row col-sm-6 col-sm-offset-3">
	<form class="form-horizontal" ng-submit="book.processBook()" name="bookform" novalidate>

		<div class="form-group" ng-class="{'has-error':bookform.title.$invalid && !bookform.title.$pristine}">
			<label class="col-sm-2 control-label">Title</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" ng-model="book.bookdata.title"
					name="title" required="true" ng-minlength=2>
				<p ng-show="bookform.title.$invalid && !bookform.title.$pristine" class="text-info">Enter Title</p>	
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error':bookform.author.$invalid && !bookform.author.$pristine}">
			<label class="col-sm-2 control-label">Author</label>
			<div class="col-sm-6">
				<input type="text" name="author" class="form-control" ng-model="book.bookdata.author" ng-minlength=2 required="true">
				<p ng-show="bookform.author.$invalid && !bookform.author.$pristine" class="text-info">Enter Author</p>	
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Series</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" ng-model="book.bookdata.series">
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error':bookform.incollection.$invalid && !bookform.$pristine}">
			<label class="col-sm-2 control-label">In Collection?</label>
			<div class="col-sm-6">
				<div class="radio">
					<label>
						<input type="radio" name="incollection" ng-value=true ng-model="book.bookdata.inCollection" required="true">
						Yes
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="incollection" ng-value=false ng-model="book.bookdata.inCollection" required="true">
						No
					</label>
				</div>
			</div>
			<p ng-show="bookform.incollection.$invalid && !bookform.$pristine" class="text-info">Choose InCollection</p>	
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-6">
				<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="book.operation=='create'" ng-disabled="bookform.$invalid">Add Book</button>
				<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="book.operation=='edit'">Update Book</button>
			</div>
		</div>

		<div class="row show-hide-message" ng-show="book.message">
			<div class="col-sm-6 col-sm-offset-2">
				<div class="alert alert-info">
					{{ book.message }}
				</div>
			</div>
		</div>
		<div class="row show-hide-message" ng-show="book.error">
			<div class="col-sm-6 col-sm-offset-2">
				<div class="alert alert-danger">
					{{ book.error }}
				</div>
			</div>
		</div>

	</form>
</div>