<div>
	<p class="navbar-text"><a href="/catalogit" class="btn btn-primary">Back to Catalog</a></p>
</div>

<div>
	<p class="navbar-text"><a href="/addbook" class="btn btn-success">Add Book</a></p>
</div>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Series</th>
			<th>In Collection</th>
			<th></th>
		</tr>
	</thead>

	<tbody ng-show="book.mybooks">
		<tr ng-repeat="bok in book.mybooks">
			<td> {{bok.title}} </td>
			<td> {{bok.author}} </td>
			<td> {{bok.series}} </td>
			<td> {{bok.inCollection}} </td>
			<td><a ng-href="/editbook/{{bok._id}}">Edit</a></td>
		</tr>
	</tbody>

</table>