<div class="row">
	<p class="navbar-text"><a href="/myseries" class="btn btn-primary">Back to MySeries</a></p>
</div>
<br>
<div class="row col-sm-6 col-sm-offset-3">
	<div class="jumbotron">
		<h2 ng-if="series.operation=='create'">Add Series</h2>
		<h2 ng-if="series.operation=='edit'">Edit Series</h2>
	</div>
</div>

<br>
<div class="row col-sm-6 col-sm-offset-3">
	<form class="form-horizontal" ng-submit="series.processSeries()" name="seriesform" novalidate>

		<div class="form-group" ng-class="{'has-error':seriesform.title.$invalid && !seriesform.title.$pristine}">
			<label class="col-sm-2 control-label">Title</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" name="title" ng-model="series.seriesdata.title" ng-minlength=2 required="true">
				<p ng-show="seriesform.title.$invalid && !seriesform.title.$pristine" class="text-info">Enter Title</p>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Genre</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" ng-model="series.seriesdata.genre">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-6">
				<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="series.operation=='create'" ng-disabled="seriesform.$invalid">Add Series</button>
				<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="series.operation=='edit'" ng-disabled="seriesform.$invalid">Update Series</button>
			</div>
		</div>

		<div class="row show-hide-message" ng-show="series.message">
			<div class="col-sm-6 col-sm-offset-2">
				<div class="alert alert-info">
					{{ series.message }}
				</div>
			</div>
		</div>
		<div class="row show-hide-message" ng-show="series.error">
			<div class="col-sm-6 col-sm-offset-2">
				<div class="alert alert-danger">
					{{ series.error }}
				</div>
			</div>
		</div>

	</form>
</div>